<div id="action_div_aml" class="col-md-10 col-md-offset-1">
	<br /> <br /> <br /> <br />

		<div class="table-title">
			<div class="row">
				<div class="col-sm-6">
					<h2>
						Item's <b>AML</b>
					</h2>
				</div>
				<div class="col-sm-6">
					<a href="#addAMLModal" class="btn btn-success" data-toggle="modal"><i
						class="material-icons">&#xE147;</i> <span>Add New AML</span></a> <a
						data-bind="click: backtoitems" class="btn btn-danger"
						data-toggle="modal"><i class="material-icons">reply</i> <span>Back
							to Items</span></a> <a data-bind="click: onLoad" class="btn btn-primary"><i
						class="material-icons">rotate_right</i> <span>Load Data</span></a>
				</div>
			</div>

		</div>
		<div class="container-xl">
			<div class="table-responsive tableFixHead">
				<div class="table-wrapper">

					<table class="table table-striped table-hover">
						<thead>
							<tr>
								<th>Item #</th>
								<th>AML<br>#
								</th>
								<th>Manufacturer<br>Part
								</th>
								<th>Manufacturer</th>
								<th>Registry<br>#
								</th>
								<th>AML Status</th>
								<th>Manufacturer Part<br> Description
								</th>
								<th>Manufacturer Part<br> Status
								</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody data-bind="foreach: aml">
							<tr>
								<td data-bind="text: mitemid"></td>
								<td data-bind="text: mid"></td>
								<td data-bind="text: mpart"></td>
								<td data-bind="text: manufacturer"></td>
								<td data-bind="text: registryid"></td>
								<td>
									<div data-bind="visible: $root.isStatusActive">
										<i class="material-icons">hdr_strong</i>
									</div> <span data-bind="text: amlstatus"></span>
								</td>
								<td data-bind="text: description"></td>
								<td data-bind="text: mstatus"></td>
								<td><a href="#editAMLModal"
									data-bind="click: $root.selectAml" class="edit"
									data-toggle="modal"><i class="material-icons"
										data-toggle="tooltip" title="Edit">&#xE254;</i></a> <a
									href="#deleteAMLModal" data-bind="click: $root.selectAml"
									class="delete" data-toggle="modal"><i
										class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<!-- Add Modal HTML -->
		<div id="addAMLModal" class="modal fade">
			<div class="modal-dialog">
				<div class="modal-content">
					<form data-bind="submit: addAml">
						<div class="modal-header">
							<h4 class="modal-title">Add AML</h4>
							<button type="button" class="close" data-dismiss="modal"
								aria-hidden="true">&times;</button>
						</div>
						<div class="modal-body">
							<div class="form-group">
								<label>Manufacturer Part</label> <input
									data-bind="value: newmpart" type="text" class="form-control"
									required>
							</div>
							<div class="form-group">
								<label>Manufacturer</label> <input
									data-bind="value: newmanufacturer" type="text"
									class="form-control" required>
							</div>
							<div class="form-group">
								<label>Registry ID</label> <input
									data-bind="value: newregistryid" type="number"
									class="form-control" required>
							</div>
							<div class="form-group">
								<label>AML Status</label>
								<div class="wrapper">
									<input value="Active" data-bind="checked: newamlstatus"
										type="radio" name="select" id="option-1"> <input
										value="Inactive" data-bind="checked: newamlstatus"
										type="radio" name="select" id="option-2" checked> <label
										for="option-1" class="option option-1">
										<div class="dot"></div> <span>Active</span>
									</label> <label for="option-2" class="option option-2">
										<div class="dot"></div> <span>Inactive</span>
									</label>
								</div>
							</div>
							<div class="form-group">
								<label>Manufacturer Part Description</label>
								<textarea data-bind="value: newdescription" class="form-control"
									required></textarea>
							</div>
							<div class="form-group">
								<label>Manufacturer Part Status</label>
								<div class="select-wrapper">
									<select class="select" required
										data-bind="options: availableMStatus,
							         value: newmstatus,
							         optionsCaption: 'Choose Manufacture Status',"></select>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<input type="button" class="btn btn-default" data-dismiss="modal"
								value="Cancel">
							<button type="submit" class="btn btn-success">Add</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- Edit Modal HTML -->
		<div id="editAMLModal" class="modal fade">
			<div class="modal-dialog">
				<div class="modal-content">
					<form data-bind="submit: updateAml">
						<div class="modal-header">
							<h4 class="modal-title">Edit AML</h4>
							<button type="button" class="close" data-dismiss="modal"
								aria-hidden="true">&times;</button>
						</div>
						<div class="modal-body">
							<div class="form-group">
								<label>Manufacturer Part</label> <input
									data-bind="value: editmpart" type="text" class="form-control"
									required>
							</div>
							<div class="form-group">
								<label>Manufacturer</label> <input
									data-bind="value: editmanufacturer" type="text"
									class="form-control" required>
							</div>
							<div class="form-group">
								<label>Registry ID</label> <input
									data-bind="value: editregistryid" type="number"
									class="form-control" required>
							</div>
							<div class="form-group">
								<label>AML Status</label>
								<div class="select-wrapper">
									<select class="select" required
										data-bind="options: availableAMLStatus,
							         value: editamlstatus,
							         optionsCaption: 'Choose AML Status',"></select>
								</div>
							</div>
							<div class="form-group">
								<label>Manufacturer Part Description</label>
								<textarea data-bind="value: editdescription"
									class="form-control" required></textarea>
							</div>
							<div class="form-group">
								<label>Manufacturer Part Status</label>
								<div class="select-wrapper">
									<select class="select" required
										data-bind="options: availableMStatus,
							         value: editmstatus,
							         optionsCaption: 'Choose Manufacture Status',"></select>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<input type="button" class="btn btn-default" data-dismiss="modal"
								value="Cancel">
							<button type="submit" class="btn btn-info">Save</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- Delete Modal HTML -->
		<div id="deleteAMLModal" class="modal fade">
			<div class="modal-dialog">
				<div class="modal-content">
					<form data-bind="submit: deleteAml">
						<div class="modal-header">
							<h4 class="modal-title">Delete AML</h4>
							<button type="button" class="close" data-dismiss="modal"
								aria-hidden="true">&times;</button>
						</div>
						<div class="modal-body">
							<p>Are you sure you want to delete these AMLs?</p>
							<p class="text-warning">
								<small>This action cannot be undone.</small>
							</p>
						</div>
						<div class="modal-footer">
							<input type="button" class="btn btn-default" data-dismiss="modal"
								value="Cancel">
							<button type="submit" class="btn btn-danger">Delete</button>
						</div>
					</form>
				</div>
			</div>
		</div>

	<!-- ko if: errors().length == 0 && validationCompleted -->
	<div id="success_message">Process completed successfully</div>
	<!-- /ko -->
	<p class="border">
		<button data-bind="click: closeWindow" class="d-block mr-0 ml-auto">Close</button>
	</p>
</div>